@media screen and (max-width: 1200px) {
  .bgtt {
    position: absolute;
    top: 300px;
    right: 80px;
    font-size: 4rem;
    text-align: right;
}
#gnb-1 li:nth-child(3) {
  right: 40px;
}
#gnb-1 li:nth-child(2) {
  right: 100px;
}
#gnb-1 li:nth-child(1) {
  right: 190px;
}
.banner-wrap .bannertt-1 {
  text-align: right;
  right: 20px;
}
.slide-wrap{
  padding-bottom: 50px;
  width: 90%;
}

.plus-img-1 {
  width: 1000px;
}
.plus-img-1 .plustt-1 div {
  font-size: 2rem;
  position: absolute;
  top: 500px;
  left: 140px;
}
.plus-img-1 .plustt-1 .t2 {
  top: 500px;
  left: 700px;
}
.plus-img-1 .plustt-1 p {
  position: absolute;
  top: 550px;
  left: 60px;
  font-size: 1rem;
}
.plus-img-1 .plustt-1 .s2 {
  top: 550px;
  left: 610px;
}
.plus-img-1 .plustt-1 .s3 {
  top: 580px;
  left: 570px;
}

.sq-wrap {
  width: 1000px;
}
.img-wrap .img li {
  padding: 10px;
}

.plus-img-2 {
  width: 1000px;
}
.plus-img-2 .plustt-2 div {
  font-size: 2rem;
  top: 500px;
  left: 200px;
}
.plus-img-2 .plustt-2 .t2 {
  top: 500px;
  left: 640px;
}
.plus-img-2 .plustt-2 p {
  position: absolute;
  top: 540px;
  left: 60px;
  font-size: 1rem;
}
.plus-img-2 .plustt-2 .s2 {
  top: 540px;
  left: 600px;
}
.plus-img-2 .plustt-2 .s3 {
  top: 560px;
  left: 570px;
}

}




@media screen and (max-width: 910px) { 
  #nav-1 {
    right: 10px;
    width: 200px;
  }
  #gnb-1 li:nth-child(3) {
    right: 30px;
  }
  #gnb-1 li:nth-child(2) {
    right: 90px;
  }
  #gnb-1 li:nth-child(1) {
    right: 170px;
  }

  .bgtt {
    position: absolute;
    top: 280px;
    right: 50px;
    font-size: 3rem;
    text-align: right;
}

.banner-wrap .bannertt-1 p {
display: none;
}
.slide-wrap{
  padding-bottom: 50px;
  width: 95%;
}

.plus-img-1 {
  width: 800px;
}
.plus-img-1 .plustt-1 div {
  font-size: 2rem;
  top: 410px;
  left: 90px;
}
.plus-img-1 .plustt-1 .t2 {
  top: 410px;
  left: 550px;
}
.plus-img-1 .plustt-1 p {
  display: none;
}

.sq-wrap {
  width: 800px;
}
.img-wrap .img li {
  padding: 40px;
}

.plus-img-2 {
  width: 800px;
}
.plus-img-2 .plustt-2 div {
  font-size: 2rem;
  top: 420px;
  left: 145px;
}
.plus-img-2 .plustt-2 .t2 {
  top: 420px;
  left: 500px;
}
.plus-img-2 .plustt-2 p {
display: none;
}
.banner-wrap .bannertt-2 p {
  display: none;
}
.footer .list {
  padding: 10px;
}
}



@media screen and (max-width: 750px) {
  #nav-1 {
    right: 10px;
    width: 200px;
  }
  #gnb-1 li a {
    font-size: 0.8rem;
  }
  #gnb-1 li:nth-child(3) {
    right: 30px;
  }
  #gnb-1 li:nth-child(2) {
    right: 80px;
  }
  #gnb-1 li:nth-child(1) {
    right: 160px;
  }
  #nav-2 {
    width: 500px;
  }
  .bgtt {
    top: 250px;
    right: 30px;
    font-size: 2.5rem;
    text-align: right;
}

.banner-wrap .bannertt-1 div {
font-size: 2rem;
}
.slide-wrap{
  padding-bottom: 50px;
  width: 100%;
}

.plus-img-1 {
  width: 600px;
}
.plus-img-1 .plustt-1 div {
  font-size: 1.5rem;
  top: 330px;
  left: 70px;
}
.plus-img-1 .plustt-1 .t2 {
  top: 330px;
  left: 410px;
}
.plus-img-1 .plustt-1 p {
  display: none;
}

.sq-wrap {
  width: 600px;
}
.img-wrap .img li {
  padding: 20px;
  padding-left: 130px;
}
.plus-img-2 {
  width: 600px;
}
.plus-img-2 .plustt-2 div {
  font-size: 1.5rem;
  top: 330px;
  left: 115px;
}
.plus-img-2 .plustt-2 .t2 {
  top: 330px;
  left: 360px;
}
.plus-img-2 .plustt-2 p {
display: none;
}
.banner-wrap .bannertt-2 p {
  display: none;
}
.banner-wrap .bannertt-2 div {
  font-size: 2rem;
  }
  .banner-wrap .bannertt-2 {
    top: 120px;
    left: 40px;
  }
}



@media screen and (max-width: 650px) {
  #nav-1 {
    right: 5px;
    width: 150px;
  }
  #gnb-1 li a {
    font-size: 0.7rem;
  }
  #gnb-1 li:nth-child(3) {
    right: 25px;
  }
  #gnb-1 li:nth-child(2) {
    right: 60px;
  }
  #gnb-1 li:nth-child(1) {
    right: 115px;
  }
  .bgtt {
    top: 240px;
    right: 30px;
    font-size: 2rem;
    text-align: right;
}

.banner-wrap .bannertt-1 div {
font-size: 1.5rem;
}
.banner-wrap .bannertt-1 {
  top: 130px;
  right: 30px;
}
.slide-wrap{
  padding-bottom: 50px;
  width: 100%;
}
}



@media screen and (max-width: 550px) {
  #nav-1 {
    display: none;
  }
  #nav-2 {
    width: 450px;
  }
  .bgtt {
    top: 220px;
    right: 20px;
    font-size: 2rem;
}

.banner-wrap .bannertt-1 div {
font-size: 1.5rem;
}
.banner-wrap .bannertt-1 {
  top: 120px;
  right: 10px;
}
.slide-wrap{
  padding-bottom: 40px;
  width: 100%;
}
.tt {
  font-size: 20px;
  padding-top: 30px;
  margin-bottom: 30px;
}
.plus-img-1 {
  width: 450px;
}
.plus-img-1 .plustt-1 div {
  font-size: 1rem;
  top: 270px;
  left: 65px;
}
.plus-img-1 .plustt-1 .t2 {
  top: 270px;
  left: 300px;
}
.plus-img-1 .plustt-1 p {
  display: none;
}

.sq-wrap {
  width: 450px;
}
.img-wrap .img li {
  padding: 20px;
  padding-left: 60px;
}
.plus-img-2 {
  width: 450px;
}
.plus-img-2 .plustt-2 div {
  font-size: 1rem;
  top: 270px;
  left: 95px;
}
.plus-img-2 .plustt-2 .t2 {
  top: 270px;
  left: 270px;
}
.plus-img-2 .plustt-2 p {
display: none;
}
.banner-wrap .bannertt-2 p {
  display: none;
}
.banner-wrap .bannertt-2 div {
  font-size: 1.5rem;
  }
  .banner-wrap .bannertt-2 {
    top: 120px;
    left: 30px;
  }
}
@media screen and (max-width: 480px) {
  #nav-2 {
    width: 430px;
  }
  .bgtt {
    top: 190px;
    right: 20px;
    font-size: 2rem;
}

.banner-wrap {
  display: none;
}
.slide-wrap{
  margin-top: 40px;
  padding-bottom: 40px;
}
.plus-img-2 {
  padding-top:0;
}
}